.adminBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.view, .add{
    margin: 10px 150px;
    padding: 15px 20px;
    background-color: #4361EE;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.view:hover, .add:hover{
    background-color: rgba(67, 97, 238, 0.84);
}


.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContainer {
    background-color: #fff;
    border-radius: 8px;
    padding: 40px 20px 20px;
    box-shadow: 0 0 24px -10px rgba(0, 0, 0, 0.5);
    position: relative;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin:  0 10px;
}


